<%= form_for(@quote_request, :html => { :multipart => true }) do |f| %>
  <% if @quote_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote_request.errors.count, "error") %> prohibited this quote request from being saved:</h2>

      <ul>
      <% @quote_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :email%><br>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :full_name %><br>
      <%= f.text_field :full_name %>
    </div>
    <div class="field">
      <%= f.label :postal_code %><br>
      <%= f.text_field :postal_code %>
    </div>
    <div class="field">
      <%= f.label :photo %><br>
      <%= f.file_field :photo, accept: 'image/*' %>
    </div>
    <div class="field">
      <%= label_tag :frame_of_reference, "Is there a ruler, dollar bill, or quarter next to the tattoo in your picture?" %><br>
      <%= check_box_tag :frame_of_reference  %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

<script type="text/javascript">
    $('form.new_quote_request').submit(function() {
        if(!$('#frame_of_reference').prop('checked')) {
            alert('Please provide a photo which shows a frame of reference next to the tattoo to approximate size. ' +
            'A quarter, dollar bill, or ruler in the picture will do. This will allow us to better estimate the cost.');
            $('#frame_of_reference').parent('div').attr('class','field_with_errors')
            return false;
        }
    });
</script>