<%= form_for(@quote_request, :html => { :multipart => true }) do |f| %>
  <% if @quote_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote_request.errors.count, "error") %> prohibited this quote request from being saved:</h2>

      <ul>
      <% @quote_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :email%><br>
      <%= f.text_field :email %>
    </div>
  <div class="field">
    <%= f.label :full_name %><br>
    <%= f.text_field :full_name %>
  </div>
  <div class="field">
    <%= f.label :postal_code %><br>
    <%= f.text_field :postal_code %>
  </div>
    <div class="field">
      <%= f.label :photo %><br>
      <%= f.file_field :photo, accept: 'image/*' %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
