#clinics-not-yet-quoted
  %h3 Select which clinics you would like to send a quote:
  -@clinics.not_yet_quote_requested(@quote_request).each do |o|
    %p
      = "#{o.business_name} | #{o.city} | #{o.state} | "
      = form_tag '/admin/clinic_quote_requests' do
        =hidden_field_tag 'quote_request_id', @quote_request.id
        =hidden_field_tag 'clinic_id', o.id
        =submit_tag 'Request Quote'
      /= link_to("Request Quote", { controller: 'admin/clinic_quote_requests', action: 'create'}, method: :post, quote_request_id: @quote_request.id, clinic_id: o.id)