#clinics-already-quoted
  %h3 These clinics you have already requested a quote from:
  -@clinics.already_quote_requested(@quote_request).each do |o|
    %p
      = "#{o.business_name} | #{o.city} | #{o.state} | "
      = link_to("Resend Quote Request", "admin/clinic_quote_requests#create")
      = link_to("Send Full Detail", "admin/clinic_quote_requests#create")

      = form_tag '/admin/clinic_quote_requests' do
        =hidden_field_tag 'quote_request_id', @quote_request.id
        =hidden_field_tag 'clinic_id', o.id
        =submit_tag 'Resend Quote Request'
