<h1>Listing organizations</h1>

<table>
  <thead>
    <tr>
      <th>Business name</th>
      <th>Address1</th>
      <th>Address2</th>
      <th>City</th>
      <th>State</th>
      <th>Postal code</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.business_name %></td>
        <td><%= organization.address1 %></td>
        <td><%= organization.address2 %></td>
        <td><%= organization.city %></td>
        <td><%= organization.state %></td>
        <td><%= organization.postal_code %></td>
        <td><%= link_to 'Show', organization %></td>
        <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
        <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Clinic', new_organization_path %>
