<%= form_for([:admin,@clinic]) do |f| %>
  <% if @clinic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clinic.errors.count, "error") %> prohibited this clinic from being saved:</h2>

      <ul>
      <% @clinic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :business_name %><br>
    <%= f.text_field :business_name %>
  </div>
  <div class="field">
    <%= f.label :address1 %><br>
    <%= f.text_field :address1 %>
  </div>
  <div class="field">
    <%= f.label :address2 %><br>
    <%= f.text_field :address2 %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.collection_select :state, State.all, :abbr, :state_name, selected: @clinic.state %>
  </div>
  <div class="field">
    <%= f.label :postal_code %><br>
    <%= f.text_field :postal_code %>
  </div>

  <h2>Contact Information</h2>
  <%= f.fields_for :quote_request_contact do |contact| %>
     <div class="field">

        <%= contact.label "Contact First Name" %><br>
        <%= contact.text_field :first_name %>
     </div>

        <div class="field">
          <%= contact.label "Contact Last Name" %><br>
          <%= contact.text_field :last_name %>
        </div>

        <div class="field">
          <%= contact.label "Contact Email" %><br>
          <%= contact.text_field :email %>
        </div>
  <%end%>

  <br/>
    <br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
