<h1>Listing tattoo_removal_requests</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Age</th>
      <th>Zip</th>
      <th>Submitted At</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tattoo_removal_requests.each do |tattoo_removal_request| %>
      <tr>
        <td><%= tattoo_removal_request.first_name %></td>
        <td><%= tattoo_removal_request.last_name %></td>
        <td><%= tattoo_removal_request.email %></td>
        <td><%= tattoo_removal_request.age %></td>
        <td><%= tattoo_removal_request.zip %></td>
        <td><%= tattoo_removal_request.created_at %></td>
        <td><%= link_to 'Show', tattoo_removal_request %></td>
        <td><%= link_to 'Edit', edit_tattoo_removal_request_path(tattoo_removal_request) %></td>
        <td><%= link_to 'Destroy', tattoo_removal_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tattoo removal request', new_tattoo_removal_request_path %>
